/* Styles for mobile */
@media screen and (max-width: 1023px) {
    .main {
        flex-grow: 1;
        flex:1;
        display: flex;
        margin-bottom: 120px;
      }
    .main-container {
        /* flex-grow: 1; */
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0 auto;
        background-color: var(--background-color);
        margin-top: 50px;
    }

    .blog-card-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin: 10px; */
    }

    .inner-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .heading {
        font-size: 20px;
        font-weight: 800;
        color: var(--theme-color1);
        font-family: var(--title-text-font-family)
        }
}



/* Styles for desktop */
@media screen and (min-width: 1024px) {
    .main {
        flex-grow: 1;
        flex:1;
        display: flex;
        margin-bottom: 30px;
      }
    .main-container {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0 auto;
        background-color: var(--background-color);
        margin-right: 10%;
    }

    .blog-card-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .inner-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .heading {
        font-size: 40px;
        font-weight: 1000;
        color: var(--theme-color1);
        /* margin-top: 100px; */
        margin-bottom: 30px;
        font-family: var(--title-text-font-family)
    }
}
