@media screen and (max-width: 1023px) {
  .education-card {
    flex: 1;
    /* display: flex; */
    background-color: #e95959;
    background-image: linear-gradient(to left, var(--theme-color1), var(--theme-color3));
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5%;
    margin-bottom: 32px;
    flex-direction: column;
    width: 100%;
    }
    
    .education-card h3 {
    margin: 0;
    font-size: 16px;
    color: #333333;
    }
    
    .education-card h4 {
    margin: 0;
    font-size: 13px;
    color: #555555;
    margin-bottom: 12px;
    }
    
    .education-card p {
    margin: 0;
    font-size: 12px;
    color: #555555;
    margin-bottom: 12px;
    }
    
    .education-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .education-card-icon {
    font-size: 20px;
    color: #333333;
    margin-right: 20px;
    }
    
    .education-card-header-text {
    display: flex;
    flex-direction: column;
    }
    
    .education-card-body {
    display: flex;
    flex-direction: column;
    }
    
    .education-card-date {
    display: flex;
    align-items: center;
    }
    }



 @media screen and (min-width: 1024px) {
  .education-card {
    /* flex: 1; */
    /* display: flex; */
    background-image: linear-gradient(to left, var(--theme-color1), var(--theme-color3));
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 32px;
    flex-direction: column;
    /* width: 100%; */
    }
    
    .education-card h3 {
    margin: 0;
    font-size: 24px;
    color: #333333;
    }
    
    .education-card h4 {
    margin: 0;
    font-size: 20px;
    color: #555555;
    margin-bottom: 12px;
    }
    
    .education-card p {
    margin: 0;
    font-size: 18px;
    color: #555555;
    margin-bottom: 12px;
    }
    
    .education-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .education-card-icon {
    font-size: 36px;
    color: #333333;
    margin-right: 20px;
    }
    
    .education-card-header-text {
    display: flex;
    flex-direction: column;
    }
    
    .education-card-body {
    display: flex;
    flex-direction: column;
    }
    
    .education-card-date {
    display: flex;
    align-items: center;
    }
  }
    