/* SkillCard.css */

/* Styles for mobile */
@media screen and (max-width: 1023px) {
  .skill-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
    
    .skill-icon {
      position: relative;
    }
    
    .skill-icon img {
      width: 40px;
    }
    
    .skill-name {
    font-weight: bold;
    font-size: small;
    color: var(--text-color1);
    }

    .svg-container {
      z-index: 1;
    }
    
}


/* Styles for desktop */
@media screen and (min-width: 1024px) {
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .skill-icon {
    position: relative;
  }
  
  .skill-icon img {
    width: 80px;
  }
  
  .skill-name {
  font-weight: bold;
  font-size: large;
  color: var(--text-color1);
  }

  .svg-container {
    z-index: 1;
  }
}