
/* Styles for mobile */
@media screen and (max-width: 1023px) {
  /* ... */
/* About me section */
.about-me {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 150px;
    }
    
    .Container-profile-picture-cart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: var(--theme-color1);
    background-image: linear-gradient(to bottom, var(--theme-color1), var(--theme-color2));
    color: var(--text-color1);
    align-items: center;
    justify-content: center;
    }
    
    .end-line {
    width: 90%;
    height: 0.5px;
    background-color: var(--theme-color2);
    margin: 10px;
    }
    
    .personal-info {
        margin-bottom: 10%;
        /* margin-top: 10%; */
    }

    .pesonal-info-inner{
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-height: 300px; */
    }
    
    .photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    }
    
    .photo img {
        height: 100%;
        width: 80%
    }
    
    .info {
        flex: 0.5;
        display: flex;
        max-width: 90%;
        flex-direction: column;
        color: var(--text-color1);
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    
    .info h2 {
    font-size: 28px;
    margin-bottom: 3px;
    font-family: var(--title-text-font-family);
    }
    
    .info h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    font-weight:'bold';
    font-family: "Times New Roman";
    }
    
    .info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: var(--sub-text-font-family);
    }
    
    .heading {
    font-size: 20px;
    color: var(--theme-color1);
    font-family: var(--title-text-font-family)
    }

    
    .resume-button {
        flex: 1;
        width: 70%;
        margin: 5%
    }
    
    /* Experience and Education section */
    .experience-education {
        /* flex-grow: 1; */
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .experience {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:5%;
        max-width: 100%;
        min-width: 100%;
    }
    .education {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:5%;
        max-width: 100%;
        min-width: 100%;
    }

    .skill-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .skill-inner {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


  .social-icon {
    font-size: 40px;
    z-index: 2;
    color: var(--text-color1);
  }
}




/* Styles for desktop */
@media screen and (min-width: 1024px) {
    .about-me {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        margin-right: 200px;
        /* margin: 5% */
    }
  
    .end-line {
        width: 90%;
        height: 0.5px;
        background-color: var(--theme-color2);
        margin: 10px;
        }
  
    .personal-info {
        margin-bottom: 100px;
        margin-top: 30px;    }

    .pesonal-info-inner{
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* max-height: 300px; */
    }
  
    .photo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-width: 100%; */
    }

    .info {
        flex: 0.7;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        color: var(--text-color1);
        text-align: justify;
    }
  
    .photo img {
        /* max-width: 100%; */
        height: 100%;
        width: 50%
    }
  
    .info h2 {
      font-size: 36px;
      margin-bottom: 10px;
      font-family: var(--title-text-font-family);
    }
  
    .info h3 {
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 20px;
      font-weight:'bold';
      font-family: "Times New Roman";
    }
  
    .info p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
      font-family: var(--sub-text-font-family);
    }
  
    .heading {
      font-size: 50px;
      color: var(--theme-color1);
      /* margin-top: 100px; */
      margin-bottom: 30px;
      font-family: var(--title-text-font-family)
    }

    .resume-button {
        flex: 1;
        width: 70%;
        margin: 5%
    }


  
    /* Experience and Education section start */
  
    .experience-education {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: row;
    }
  
    .experience {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin:5%;
    }
  
    .education {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 5%     
      }

    .skill-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .skill-inner {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


  .social-icon {
    font-size: 40px;
    z-index: 2;
    color: var(--text-color1);
  }
    
  
}

