.side-bar {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--background-color);
    background-image: linear-gradient(to right, var(--background-color), var(--background-color));
    font-size: medium;
    color: var(--theme-color1);
    height: 100%;
    width: 15%;
}

.side-bar-title {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: var(--text-color1);
    padding-top: 10%;
    margin-right: 21%;
}

.side-bar-elements {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: var(--text-color1);
    margin-right: 20%;
}

.selected-side-bar-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    color: var(--theme-color1);
}

.side-bar-element-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    margin-bottom: 5%;
    background-color: var(--icon-backgound-color1);
    border-radius: 50%;
    border: 5px solid var(--theme-color1);
}

.side-bar-element-text {
    visibility: hidden;
    font-size: 70%;
    margin-right: 10%;
}

.side-bar-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.side-bar-element:hover .side-bar-element-text{
    visibility: visible;
    color: var(--theme-color1);
    /* transition: 0.5s; */
    animation: anim_text 2s infinite;
    
}

.side-bar-element:hover .side-bar-element-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    animation: anim_menu_icon 5s infinite;
}


@keyframes anim_menu_icon {
    0%,
    100% {
        border: 5px solid var(--theme-color1);
        color: var(--theme-color1);
        background-color: var(--icon-backgound-color1);
    }
  
    10% {
        border: 5px solid var(--theme-color2);
        color: var(--theme-color2);
        background-color: var(--icon-backgound-color1);
    }
  
    20% {
        border: 5px solid var(--theme-color3);
        color: var(--theme-color3);
        background-color: var(--icon-backgound-color1);
    }
  
    30% {
        border: 5px solid var(--theme-color1);
        color: var(--theme-color1);
        background-color: var(--icon-backgound-color1);
    }
  
    40% {
        border: 5px solid var(--theme-color2);
        color: var(--theme-color2);
        background-color: var(--icon-backgound-color1);
    }
  
    50% {
        border: 5px solid var(--theme-color3);
        color: var(--theme-color3);
        background-color: var(--icon-backgound-color1);
    }
  
    60% {
        border: 5px solid var(--theme-color1);
    }
  
    70% {
        border: 5px solid var(--theme-color2);
    }
  
    80% {
        border: 5px solid var(--theme-color3);
    }
  
    90% {
        border: 5px solid var(--theme-color1);
    }
  }

  @keyframes anim_text {
    0%,
    100% {
        color: var(--theme-color1);
    }
  
    10% {
        /* border: 5px solid rgb(255, 179, 15); */
        color: var(--theme-color2);
    }
  
    20% {
        /* border: 5px solid rgb(252, 188, 50); */
        color: var(--theme-color3);
    }
  
    30% {
        /* border: 5px solid rgb(252, 199, 86); */
        color: var(--theme-color1);
    }
  
    40% {
        /* border: 5px solid rgb(253, 210, 118); */
        color: var(--theme-color2);
    }
  
    50% {
        /* border: 5px solid rgb(252, 223, 160); */
        color: var(--theme-color3);
    }
  
    60% {
        /* border: 5px solid rgb(255, 179, 15); */
        color: var(--theme-color1);
    }
  
    70% {
        /* border: 5px solid rgb(252, 188, 50); */
        color: var(--theme-color2);
    }
  
    80% {
        /* border: 5px solid rgb(252, 199, 86); */
        color: var(--theme-color3);
    }
  
    90% {
        /* border: 5px solid rgb(252, 223, 160); */
        color: var(--theme-color1);
    }
  }
  