.experience-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.experience-card h3 {
  margin: 0;
  font-size: 24px;
  color: #4b4b4b;
}

.experience-card h4 {
  margin: 0;
  font-size: 20px;
  color: #8f8f8f;
  margin-bottom: 10px;
}

.experience-card p {
  margin: 0;
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.experience-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-card-icon {
  font-size: 30px;
  color: #4b4b4b;
  margin-right: 20px;
}

.experience-card-header-text {
  display: flex;
  flex-direction: column;
}

.experience-card-body {
  display: flex;
  flex-direction: column;
}

.experience-card-date {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .experience-card {
    text-align: center;
  }

  .experience-card-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .experience-card-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
