.project-card {
    flex-grow: 1;
    flex: 1;
    display: flex;
    background-color: #fff;
    background-image: linear-gradient(to left, var(--theme-color1), var(--theme-color3));
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin: 5%;
    min-width: 100%;
    /* overflow: hidden; */
  }
  
  .project-card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  .project-details {
    padding: 20px;
  }
  
  .project-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .project-techs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .project-techs span {
    background-color: #f5f5f5;
    border-radius: 10px;
    color: #333;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  
  .project-details a {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .project-details a:hover {
    background-color: #666;
  }
  